.listItem {
   position: relative;
   width: 25em;
   transition: all 300ms ease;
   flex-shrink: 0;
}

.listItem:hover {
margin-left: 3em;
 transform: scale(1.2);
}

.listItem article {
    transition: all 300ms ease;
    position: absolute;
    bottom: 1.2em;
    width: 100%;
    opacity: 0;
    background-image: linear-gradient(to bottom, rgba(0 0 0 /.7), #151515);
    color: var(--color-white);
}

.listItem:hover article {
    opacity: 1; 
}

.listItem article p {
    padding: 1em;
}

.listItem img {
    object-fit : cover; 
    width: 100%;
    height: 15em;
}